Importing libraries

In [3]:
import pandas as pd
import numpy as np

Importing csv file

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ML/Project/survey_results_public v1.csv')

Display data

In [ ]:
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

To know the number of rows and columns --> shape keyword

In [ ]:
df.shape

(73268, 79)

To know the statistical information about dataset --> describe() function

In [ ]:
df.describe()

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.000000,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,36634.500000,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,21150.794099,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,1.000000,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,18317.750000,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,36634.500000,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,54951.250000,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,73268.000000,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

Missing Values

---


isna() function is use to check null values present in the dataset

In [ ]:
df.isna().sum()

ResponseId                 0
MainBranch                 0
Employment              1559
RemoteWork             14310
CodingActivities       14369
                       ...
TrueFalse_2            37553
TrueFalse_3            37519
SurveyLength            2824
SurveyEase              2760
ConvertedCompYearly    35197
Length: 77, dtype: int64

To listouts all the not-null values in the Dataset --> notna().sum()

In [ ]:
df.notna().sum()

ResponseId             73268
MainBranch             73268
Employment             71709
RemoteWork             58958
CodingActivities       58899
                       ...
TrueFalse_2            35715
TrueFalse_3            35749
SurveyLength           70444
SurveyEase             70508
ConvertedCompYearly    38071
Length: 79, dtype: int64

Display Missing values with seaborn library

To know properties of the dataset --> info() function

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      73268 non-null  int64
 1   MainBranch                      73268 non-null  object
 2   Employment                      71709 non-null  object
 3   RemoteWork                      58958 non-null  object
 4   CodingActivities                58899 non-null  object
 5   EdLevel                         71571 non-null  object
 6   LearnCode                       71580 non-null  object
 7   LearnCodeOnline                 50685 non-null  object
 8   LearnCodeCoursesCert            29389 non-null  object
 9   YearsCode                       71331 non-null  object
 10  YearsCodePro                    51833 non-null  object
 11  DevType                         61302 non-null  object
 12  OrgSize                         51039 non-null  object
 13  PurchaseInfluence               50969 non-null  object
 14  BuyNewTool                      67963 non-null  object
 15  Country                         71771 non-null  object
 16  Currency                        51264 non-null  object
 17  CompTotal                       38422 non-null  float64
 18  CompFreq                        44425 non-null  object
 19  LanguageHaveWorkedWith          70975 non-null  object
 20  LanguageWantToWorkWith          67027 non-null  object
 21  DatabaseHaveWorkedWith          60121 non-null  object
 22  DatabaseWantToWorkWith          51014 non-null  object
 23  PlatformHaveWorkedWith          49924 non-null  object
 24  PlatformWantToWorkWith          40415 non-null  object
 25  WebframeHaveWorkedWith          53544 non-null  object
 26  WebframeWantToWorkWith          46122 non-null  object
 27  MiscTechHaveWorkedWith          44992 non-null  object
 28  MiscTechWantToWorkWith          36810 non-null  object
 29  ToolsTechHaveWorkedWith         54171 non-null  object
 30  ToolsTechWantToWorkWith         46566 non-null  object
 31  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 32  NEWCollabToolsWantToWorkWith    64108 non-null  object
 33  OpSysProfessional use           65503 non-null  object
 34  OpSysPersonal use               70963 non-null  object
 35  VersionControlSystem            71379 non-null  object
 36  VCInteraction                   68156 non-null  object
 37  VCHostingPersonal use           0 non-null      float64
 38  VCHostingProfessional use       0 non-null      float64
 39  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 40  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 41  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 42  OfficeStackSyncWantToWorkWith   47688 non-null  object
 43  Blockchain                      71071 non-null  object
 44  NEWSOSites                      71365 non-null  object
 45  SOVisitFreq                     70961 non-null  object
 46  SOAccount                       71572 non-null  object
 47  SOPartFreq                      58229 non-null  object
 48  SOComm                          71408 non-null  object
 49  Age                             70946 non-null  object
 50  Gender                          70853 non-null  object
 51  Trans                           70315 non-null  object
 52  Sexuality                       66565 non-null  object
 53  Ethnicity                       69474 non-null  object
 54  Accessibility                   67244 non-null  object
 55  MentalHealth                    66447 non-null  object
 56  TBranch                         52670 non-null  object
 57  ICorPM                          36283 non-null  object
 58  WorkExp                         36769 non-null  float64
 59  Knowledge_1                     35804 non-null  object
 60  Knowledge_2                     34973 non-null  object
 61  Knowledge_3                     35133 non-null  object
 62  Knowledge_4                     35097 non-null  object
 63  Knowledge_5                     35014 non-null  object
 64  Knowledge_6                     34991 non-null  object
 65  Knowledge_7                     34977 non-null  object
 66  Frequency_1                     35371 non-null  object
 67  Frequency_2                     35344 non-null  object
 68  Frequency_3                     34515 non-null  object
 69  TimeSearching                   36198 non-null  object
 70  TimeAnswering                   36022 non-null  object
 71  Onboarding                      35679 non-null  object
 72  ProfessionalTech                34906 non-null  object
 73  TrueFalse_1                     35819 non-null  object
 74  TrueFalse_2                     35715 non-null  object
 75  TrueFalse_3                     35749 non-null  object
 76  SurveyLength                    70444 non-null  object
 77  SurveyEase                      70508 non-null  object
 78  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), int64(1), object(73)
memory usage: 44.2+ MB

Dropping Un-necessary columns

In [ ]:
col = ['ResponseId', 'MainBranch', 'RemoteWork', 'LearnCodeOnline', 'PurchaseInfluence', 'BuyNewTool', 'Currency', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'VersionControlSystem', 'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use', 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith', 
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm', 'Trans', 'Sexuality', 'Ethnicity', 'Accessibility', 'TBranch', 'ICorPM', 'Knowledge_1', 
       'Knowledge_2', 'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching', 
       'TimeAnswering', 'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2', 'TrueFalse_3', 'CompTotal']

In [ ]:
col

['ResponseId',
 'MainBranch',
 'RemoteWork',
 'LearnCodeOnline',
 'PurchaseInfluence',
 'BuyNewTool',
 'Currency',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'VersionControlSystem',
 'VCInteraction',
 'VCHostingPersonal use',
 'VCHostingProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncWantToWorkWith',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Accessibility',
 'TBranch',
 'ICorPM',
 'Knowledge_1',
 'Knowledge_2',
 'Knowledge_3',
 'Knowledge_4',
 'Knowledge_5',
 'Knowledge_6',
 'Knowledge_7',
 'Frequency_1',
 'Frequency_2',
 'Frequency_3',
 'TimeSearching',
 'TimeAnswering',
 'Onboarding',
 'ProfessionalTech',
 'TrueFalse_1',
 'TrueFalse_2',
 'TrueFalse_3',
 'CompTotal']

In [ ]:
df.drop(col,axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     71709 non-null  object
 1   CodingActivities               58899 non-null  object
 2   EdLevel                        71571 non-null  object
 3   LearnCode                      71580 non-null  object
 4   LearnCodeCoursesCert           29389 non-null  object
 5   YearsCode                      71331 non-null  object
 6   YearsCodePro                   51833 non-null  object
 7   DevType                        61302 non-null  object
 8   OrgSize                        51039 non-null  object
 9   Country                        71771 non-null  object
 10  CompFreq                       44425 non-null  object
 11  LanguageHaveWorkedWith         70975 non-null  object
 12  LanguageWantToWorkWith         67027 non-null  object
 13  DatabaseHaveWorkedWith         60121 non-null  object
 14  DatabaseWantToWorkWith         51014 non-null  object
 15  PlatformHaveWorkedWith         49924 non-null  object
 16  PlatformWantToWorkWith         40415 non-null  object
 17  WebframeHaveWorkedWith         53544 non-null  object
 18  WebframeWantToWorkWith         46122 non-null  object
 19  MiscTechHaveWorkedWith         44992 non-null  object
 20  MiscTechWantToWorkWith         36810 non-null  object
 21  NEWCollabToolsHaveWorkedWith   70347 non-null  object
 22  NEWCollabToolsWantToWorkWith   64108 non-null  object
 23  OpSysProfessional use          65503 non-null  object
 24  OpSysPersonal use              70963 non-null  object
 25  OfficeStackSyncHaveWorkedWith  62128 non-null  object
 26  OfficeStackSyncWantToWorkWith  47688 non-null  object
 27  Blockchain                     71071 non-null  object
 28  Age                            70946 non-null  object
 29  Gender                         70853 non-null  object
 30  MentalHealth                   66447 non-null  object
 31  WorkExp                        36769 non-null  float64
 32  SurveyLength                   70444 non-null  object
 33  SurveyEase                     70508 non-null  object
 34  ConvertedCompYearly            38071 non-null  float64
dtypes: float64(2), object(33)
memory usage: 19.6+ MB

In [ ]:
df.to_csv('survey_results_public v2')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ML/Project/survey_results_public v2.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     73268 non-null  int64
 1   Employment                     71709 non-null  object
 2   CodingActivities               58899 non-null  object
 3   EdLevel                        71571 non-null  object
 4   LearnCode                      71580 non-null  object
 5   LearnCodeCoursesCert           29389 non-null  object
 6   YearsCode                      71331 non-null  object
 7   YearsCodePro                   51833 non-null  object
 8   DevType                        61302 non-null  object
 9   OrgSize                        51039 non-null  object
 10  Country                        71771 non-null  object
 11  CompFreq                       44425 non-null  object
 12  LanguageHaveWorkedWith         70975 non-null  object
 13  LanguageWantToWorkWith         67027 non-null  object
 14  DatabaseHaveWorkedWith         60121 non-null  object
 15  DatabaseWantToWorkWith         51014 non-null  object
 16  PlatformHaveWorkedWith         49924 non-null  object
 17  PlatformWantToWorkWith         40415 non-null  object
 18  WebframeHaveWorkedWith         53544 non-null  object
 19  WebframeWantToWorkWith         46122 non-null  object
 20  MiscTechHaveWorkedWith         44992 non-null  object
 21  MiscTechWantToWorkWith         36810 non-null  object
 22  NEWCollabToolsHaveWorkedWith   70347 non-null  object
 23  NEWCollabToolsWantToWorkWith   64108 non-null  object
 24  OpSysProfessional use          65503 non-null  object
 25  OpSysPersonal use              70963 non-null  object
 26  OfficeStackSyncHaveWorkedWith  62128 non-null  object
 27  OfficeStackSyncWantToWorkWith  47688 non-null  object
 28  Blockchain                     71071 non-null  object
 29  Age                            70946 non-null  object
 30  Gender                         70853 non-null  object
 31  MentalHealth                   66447 non-null  object
 32  WorkExp                        36769 non-null  float64
 33  SurveyLength                   70444 non-null  object
 34  SurveyEase                     70508 non-null  object
 35  ConvertedCompYearly            38071 non-null  float64
dtypes: float64(2), int64(1), object(33)
memory usage: 20.1+ MB

In [ ]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
df

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,...,NaN,NaN,Very unfavorable,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,United Kingdom of Great Britain and Northern I...,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,"Employed, full-time",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,20,17,"Developer, full-stack",100 to 499 employees,Israel,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,NaN,Appropriate in length,Easy,215232.0
4,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,NaN,Unfavorable,25-34 years old,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy,8,5,"Developer, back-end",100 to 499 employees,Nigeria,...,Slack;Zoom,Slack;Zoom,Very favorable,25-34 years old,Man,None of the above,5.0,Too long,Easy,NaN
73264,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,United States of America,...,Rocketchat,NaN,Unsure,25-34 years old,Man,None of the above,6.0,Too long,Easy,NaN
73265,"Employed, full-time",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,55-64 years old,Man,None of the above,42.0,Appropriate in length,Easy,NaN
73266,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,United Kingdom of Great Britain and Northern I...,...,Zoom,Zoom,Indifferent,55-64 years old,Man,None of the above,NaN,Appropriate in length,Easy,NaN
73267,"Independent contractor, freelancer, or self-em...",Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,Canada,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,25-34 years old,Man,None of the above,NaN,Appropriate in length,Easy,NaN

In [ ]:
df.to_csv('survey_results_public v2.csv')

In [ ]:
# Loading csv file
df = pd.read_csv('/content/drive/MyDrive/ML/Project/survey_results_public v2.csv')

In [ ]:
df

,Unnamed: 0,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"Employed, full-time",Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Very unfavorable,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,2,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,3,"Employed, full-time",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,20,17,"Developer, full-stack",100 to 499 employees,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,NaN,Appropriate in length,Easy,215232.0
4,4,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,...,Microsoft Teams;Zoom,NaN,Unfavorable,25-34 years old,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73263,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy,8,5,"Developer, back-end",100 to 499 employees,...,Slack;Zoom,Slack;Zoom,Very favorable,25-34 years old,Man,None of the above,5.0,Too long,Easy,NaN
73264,73264,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,...,Rocketchat,NaN,Unsure,25-34 years old,Man,None of the above,6.0,Too long,Easy,NaN
73265,73265,"Employed, full-time",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,...,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,55-64 years old,Man,None of the above,42.0,Appropriate in length,Easy,NaN
73266,73266,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,...,Zoom,Zoom,Indifferent,55-64 years old,Man,None of the above,NaN,Appropriate in length,Easy,NaN
73267,73267,"Independent contractor, freelancer, or self-em...",Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,25-34 years old,Man,None of the above,NaN,Appropriate in length,Easy,NaN

In [ ]:
df.drop('Unnamed: 0',axis=1,inplace=True)  # drop() --> drop columns/rows according to axis value
 # if axis = 0 --> then row/s got deleted
 # else axis = 1 --> then colum/s got deleted

 # inplace = True --> denoted permanent commit
 # inplace = False --> temperory change (that will not affect on our dataset)

In [ ]:
df

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,...,NaN,NaN,Very unfavorable,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,United Kingdom of Great Britain and Northern I...,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,"Employed, full-time",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,20,17,"Developer, full-stack",100 to 499 employees,Israel,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,NaN,Appropriate in length,Easy,215232.0
4,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,NaN,Unfavorable,25-34 years old,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy,8,5,"Developer, back-end",100 to 499 employees,Nigeria,...,Slack;Zoom,Slack;Zoom,Very favorable,25-34 years old,Man,None of the above,5.0,Too long,Easy,NaN
73264,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,United States of America,...,Rocketchat,NaN,Unsure,25-34 years old,Man,None of the above,6.0,Too long,Easy,NaN
73265,"Employed, full-time",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,55-64 years old,Man,None of the above,42.0,Appropriate in length,Easy,NaN
73266,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,United Kingdom of Great Britain and Northern I...,...,Zoom,Zoom,Indifferent,55-64 years old,Man,None of the above,NaN,Appropriate in length,Easy,NaN
73267,"Independent contractor, freelancer, or self-em...",Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,Canada,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,25-34 years old,Man,None of the above,NaN,Appropriate in length,Easy,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     71709 non-null  object
 1   CodingActivities               58899 non-null  object
 2   EdLevel                        71571 non-null  object
 3   LearnCode                      71580 non-null  object
 4   LearnCodeCoursesCert           29389 non-null  object
 5   YearsCode                      71331 non-null  object
 6   YearsCodePro                   51833 non-null  object
 7   DevType                        61302 non-null  object
 8   OrgSize                        51039 non-null  object
 9   Country                        71771 non-null  object
 10  CompFreq                       44425 non-null  object
 11  LanguageHaveWorkedWith         70975 non-null  object
 12  LanguageWantToWorkWith         67027 non-null  object
 13  DatabaseHaveWorkedWith         60121 non-null  object
 14  DatabaseWantToWorkWith         51014 non-null  object
 15  PlatformHaveWorkedWith         49924 non-null  object
 16  PlatformWantToWorkWith         40415 non-null  object
 17  WebframeHaveWorkedWith         53544 non-null  object
 18  WebframeWantToWorkWith         46122 non-null  object
 19  MiscTechHaveWorkedWith         44992 non-null  object
 20  MiscTechWantToWorkWith         36810 non-null  object
 21  NEWCollabToolsHaveWorkedWith   70347 non-null  object
 22  NEWCollabToolsWantToWorkWith   64108 non-null  object
 23  OpSysProfessional use          65503 non-null  object
 24  OpSysPersonal use              70963 non-null  object
 25  OfficeStackSyncHaveWorkedWith  62128 non-null  object
 26  OfficeStackSyncWantToWorkWith  47688 non-null  object
 27  Blockchain                     71071 non-null  object
 28  Age                            70946 non-null  object
 29  Gender                         70853 non-null  object
 30  MentalHealth                   66447 non-null  object
 31  WorkExp                        36769 non-null  float64
 32  SurveyLength                   70444 non-null  object
 33  SurveyEase                     70508 non-null  object
 34  ConvertedCompYearly            38071 non-null  float64
dtypes: float64(2), object(33)
memory usage: 19.6+ MB

Rename column MiscTechHaveWorkedWith with LibraryHaveWorkedWith
and MiscTechWantToWorkWith with LibraryWantToWorkWith

In [ ]:
df.rename(columns = {'MiscTechHaveWorkedWith':'LibraryHaveWorkedWith',
                     'MiscTechWantToWorkWith' : 'LibraryWantToWorkWith'}, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     71709 non-null  object
 1   CodingActivities               58899 non-null  object
 2   EdLevel                        71571 non-null  object
 3   LearnCode                      71580 non-null  object
 4   LearnCodeCoursesCert           29389 non-null  object
 5   YearsCode                      71331 non-null  object
 6   YearsCodePro                   51833 non-null  object
 7   DevType                        61302 non-null  object
 8   OrgSize                        51039 non-null  object
 9   Country                        71771 non-null  object
 10  CompFreq                       44425 non-null  object
 11  LanguageHaveWorkedWith         70975 non-null  object
 12  LanguageWantToWorkWith         67027 non-null  object
 13  DatabaseHaveWorkedWith         60121 non-null  object
 14  DatabaseWantToWorkWith         51014 non-null  object
 15  PlatformHaveWorkedWith         49924 non-null  object
 16  PlatformWantToWorkWith         40415 non-null  object
 17  WebframeHaveWorkedWith         53544 non-null  object
 18  WebframeWantToWorkWith         46122 non-null  object
 19  LibraryHaveWorkedWith          44992 non-null  object
 20  LibraryWantToWorkWith          36810 non-null  object
 21  NEWCollabToolsHaveWorkedWith   70347 non-null  object
 22  NEWCollabToolsWantToWorkWith   64108 non-null  object
 23  OpSysProfessional use          65503 non-null  object
 24  OpSysPersonal use              70963 non-null  object
 25  OfficeStackSyncHaveWorkedWith  62128 non-null  object
 26  OfficeStackSyncWantToWorkWith  47688 non-null  object
 27  Blockchain                     71071 non-null  object
 28  Age                            70946 non-null  object
 29  Gender                         70853 non-null  object
 30  MentalHealth                   66447 non-null  object
 31  WorkExp                        36769 non-null  float64
 32  SurveyLength                   70444 non-null  object
 33  SurveyEase                     70508 non-null  object
 34  ConvertedCompYearly            38071 non-null  float64
dtypes: float64(2), object(33)
memory usage: 19.6+ MB

Filling float64 Null Values
  * WorkExp - Adding mean value into null fields of WorkExp column

In [ ]:
df.WorkExp.isna().value_counts() # returns 36,499 record got null values

False    36769
True     36499
Name: WorkExp, dtype: int64

In [ ]:
WorkExpMean = df.WorkExp.mean()   # mean() is use to calculate mean value

In [ ]:
WorkExpMean

10.24237809023906

In [ ]:
df['WorkExp'].fillna(WorkExpMean, inplace = True) # we can fill null values with --> fill() function

In [ ]:
df['WorkExp']

0        10.242378
1        10.242378
2        10.242378
3        10.242378
4        10.242378
           ...
73263     5.000000
73264     6.000000
73265    42.000000
73266    10.242378
73267    10.242378
Name: WorkExp, Length: 73268, dtype: float64

In [ ]:
df['WorkExp'].isna().value_counts() # Here null rows got replaced with columns mean value

False    73268
Name: WorkExp, dtype: int64

Now Same for another 'float64' column that is 'ConvertedCompYearly'

In [ ]:
df.ConvertedCompYearly.isna().value_counts()  # shows 35,197 rows has null value

False    38071
True     35197
Name: ConvertedCompYearly, dtype: int64

In [ ]:
ConvertedCompYearlyMean = df.ConvertedCompYearly.mean()

In [ ]:
ConvertedCompYearlyMean

170761.2778492816

In [ ]:
df['ConvertedCompYearly'].fillna(ConvertedCompYearlyMean, inplace = True)

In [ ]:
df['ConvertedCompYearly']

0        170761.277849
1        170761.277849
2         40205.000000
3        215232.000000
4        170761.277849
             ...
73263    170761.277849
73264    170761.277849
73265    170761.277849
73266    170761.277849
73267    170761.277849
Name: ConvertedCompYearly, Length: 73268, dtype: float64

In [ ]:
df['ConvertedCompYearly'].isna().value_counts()

False    73268
Name: ConvertedCompYearly, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     71709 non-null  object
 1   CodingActivities               58899 non-null  object
 2   EdLevel                        71571 non-null  object
 3   LearnCode                      71580 non-null  object
 4   LearnCodeCoursesCert           29389 non-null  object
 5   YearsCode                      71331 non-null  object
 6   YearsCodePro                   51833 non-null  object
 7   DevType                        61302 non-null  object
 8   OrgSize                        51039 non-null  object
 9   Country                        71771 non-null  object
 10  CompFreq                       44425 non-null  object
 11  LanguageHaveWorkedWith         70975 non-null  object
 12  LanguageWantToWorkWith         67027 non-null  object
 13  DatabaseHaveWorkedWith         60121 non-null  object
 14  DatabaseWantToWorkWith         51014 non-null  object
 15  PlatformHaveWorkedWith         49924 non-null  object
 16  PlatformWantToWorkWith         40415 non-null  object
 17  WebframeHaveWorkedWith         53544 non-null  object
 18  WebframeWantToWorkWith         46122 non-null  object
 19  LibraryHaveWorkedWith          44992 non-null  object
 20  LibraryWantToWorkWith          36810 non-null  object
 21  NEWCollabToolsHaveWorkedWith   70347 non-null  object
 22  NEWCollabToolsWantToWorkWith   64108 non-null  object
 23  OpSysProfessional use          65503 non-null  object
 24  OpSysPersonal use              70963 non-null  object
 25  OfficeStackSyncHaveWorkedWith  62128 non-null  object
 26  OfficeStackSyncWantToWorkWith  47688 non-null  object
 27  Blockchain                     71071 non-null  object
 28  Age                            70946 non-null  object
 29  Gender                         70853 non-null  object
 30  MentalHealth                   66447 non-null  object
 31  WorkExp                        73268 non-null  float64
 32  SurveyLength                   70444 non-null  object
 33  SurveyEase                     70508 non-null  object
 34  ConvertedCompYearly            73268 non-null  float64
dtypes: float64(2), object(33)
memory usage: 19.6+ MB

In [ ]:
df.shape # returns total number of rows and columns

(73268, 35)

In [ ]:
df.describe() # Returns Statistical values of float/int dtype columns

            WorkExp  ConvertedCompYearly
count  73268.000000         7.326800e+04
mean      10.242378         1.707613e+05
std        6.167964         5.632718e+05
min        0.000000         1.000000e+00
25%        8.000000         6.453325e+04
50%       10.242378         1.707613e+05
75%       10.242378         1.707613e+05
max       50.000000         5.000000e+07

In [ ]:
print(type(df)) # returns type of our dataset

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df.head()  # returns top five records from our dataset

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.242378,NaN,NaN,170761.277849
1,"Employed, full-time",Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,...,NaN,NaN,Very unfavorable,NaN,NaN,NaN,10.242378,Too long,Difficult,170761.277849
2,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,United Kingdom of Great Britain and Northern I...,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",10.242378,Appropriate in length,Neither easy nor difficult,40205.000000
3,"Employed, full-time",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,20,17,"Developer, full-stack",100 to 499 employees,Israel,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,10.242378,Appropriate in length,Easy,215232.000000
4,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,NaN,Unfavorable,25-34 years old,NaN,NaN,10.242378,Too long,Easy,170761.277849

In [ ]:
df.tail()   # shows bottom five records of our dataset

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
73263,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy,8,5,"Developer, back-end",100 to 499 employees,Nigeria,...,Slack;Zoom,Slack;Zoom,Very favorable,25-34 years old,Man,None of the above,5.000000,Too long,Easy,170761.277849
73264,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,United States of America,...,Rocketchat,NaN,Unsure,25-34 years old,Man,None of the above,6.000000,Too long,Easy,170761.277849
73265,"Employed, full-time",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,55-64 years old,Man,None of the above,42.000000,Appropriate in length,Easy,170761.277849
73266,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,United Kingdom of Great Britain and Northern I...,...,Zoom,Zoom,Indifferent,55-64 years old,Man,None of the above,10.242378,Appropriate in length,Easy,170761.277849
73267,"Independent contractor, freelancer, or self-em...",Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,Canada,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,25-34 years old,Man,None of the above,10.242378,Appropriate in length,Easy,170761.277849

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/ML/Project/KnnSOFData18Feb2k23.csv')
data.drop(['Unnamed: 0'],axis = 1, inplace = True)

In [ ]:
data

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,"Employed, full-time",Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,...,NaN,NaN,Very unfavorable,NaN,NaN,NaN,0.0,Too long,Difficult,NaN
1,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,United Kingdom of Great Britain and Northern I...,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",0.0,Appropriate in length,Neither easy nor difficult,40205.0
2,"Employed, full-time",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,20,17,"Developer, full-stack",100 to 499 employees,Israel,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,0.0,Appropriate in length,Easy,215232.0
3,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,NaN,Unfavorable,25-34 years old,NaN,NaN,0.0,Too long,Easy,NaN
4,"Student, full-time",NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,15,NaN,NaN,NaN,Germany,...,Rocketchat;Slack;Zoom,Rocketchat;Slack;Zoom,Very unfavorable,25-34 years old,"Or, in your own words:","Or, in your own words:",0.0,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73261,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy,8,5,"Developer, back-end",100 to 499 employees,Nigeria,...,Slack;Zoom,Slack;Zoom,Very favorable,25-34 years old,Man,None of the above,5.0,Too long,Easy,NaN
73262,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,United States of America,...,Rocketchat,NaN,Unsure,25-34 years old,Man,None of the above,6.0,Too long,Easy,NaN
73263,"Employed, full-time",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,55-64 years old,Man,None of the above,42.0,Appropriate in length,Easy,NaN
73264,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,United Kingdom of Great Britain and Northern I...,...,Zoom,Zoom,Indifferent,55-64 years old,Man,None of the above,0.0,Appropriate in length,Easy,NaN
73265,"Independent contractor, freelancer, or self-em...",Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,Canada,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,25-34 years old,Man,None of the above,0.0,Appropriate in length,Easy,NaN

In [ ]:
data.DevType.isna().value_counts()

False    61302
True     11964
Name: DevType, dtype: int64

In [ ]:
data.DevType.isnull().value_counts()

False    61302
True     11964
Name: DevType, dtype: int64

In [ ]:
# Dropping empty Cells from DevType column
data.drop(data[data["DevType"].isnull()==True].index, axis = 0, inplace = True)

In [ ]:
data.DevType.isna().value_counts()

False    61302
Name: DevType, dtype: int64

In [ ]:
data

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
1,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,United Kingdom of Great Britain and Northern I...,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",0.0,Appropriate in length,Neither easy nor difficult,40205.0
2,"Employed, full-time",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,20,17,"Developer, full-stack",100 to 499 employees,Israel,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,0.0,Appropriate in length,Easy,215232.0
3,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,NaN,Unfavorable,25-34 years old,NaN,NaN,0.0,Too long,Easy,NaN
6,"Not employed, but looking for work",NaN,Some college/university study without earning ...,Online Courses or Certification,Coursera;Udemy,1,NaN,"Developer, full-stack;Student",NaN,India,...,Google Chat;Microsoft Teams;Zoom,NaN,Very favorable,18-24 years old,Man,None of the above,0.0,Appropriate in length,Easy,NaN
7,"Employed, full-time",I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Coding Bootcamp,NaN,6,6,"Developer, back-end",I don’t know,Netherlands,...,Microsoft Teams,Microsoft Teams,Very unfavorable,25-34 years old,Woman,"Or, in your own words:",6.0,Appropriate in length,Easy,49056.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73261,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy,8,5,"Developer, back-end",100 to 499 employees,Nigeria,...,Slack;Zoom,Slack;Zoom,Very favorable,25-34 years old,Man,None of the above,5.0,Too long,Easy,NaN
73262,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,United States of America,...,Rocketchat,NaN,Unsure,25-34 years old,Man,None of the above,6.0,Too long,Easy,NaN
73263,"Employed, full-time",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,United States of America,...,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,55-64 years old,Man,None of the above,42.0,Appropriate in length,Easy,NaN
73264,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,United Kingdom of Great Britain and Northern I...,...,Zoom,Zoom,Indifferent,55-64 years old,Man,None of the above,0.0,Appropriate in length,Easy,NaN
73265,"Independent contractor, freelancer, or self-em...",Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,Canada,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,25-34 years old,Man,None of the above,0.0,Appropriate in length,Easy,NaN

In [ ]:
data.shape

(61302, 35)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61302 entries, 1 to 73265
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     61302 non-null  object
 1   CodingActivities               58636 non-null  object
 2   EdLevel                        61240 non-null  object
 3   LearnCode                      61234 non-null  object
 4   LearnCodeCoursesCert           25635 non-null  object
 5   YearsCode                      61053 non-null  object
 6   YearsCodePro                   51406 non-null  object
 7   DevType                        61302 non-null  object
 8   OrgSize                        50730 non-null  object
 9   Country                        61302 non-null  object
 10  CompFreq                       44254 non-null  object
 11  LanguageHaveWorkedWith         60845 non-null  object
 12  LanguageWantToWorkWith         57457 non-null  object
 13  DatabaseHaveWorkedWith         53079 non-null  object
 14  DatabaseWantToWorkWith         45432 non-null  object
 15  PlatformHaveWorkedWith         44814 non-null  object
 16  PlatformWantToWorkWith         36655 non-null  object
 17  WebframeHaveWorkedWith         46945 non-null  object
 18  WebframeWantToWorkWith         40678 non-null  object
 19  MiscTechHaveWorkedWith         38937 non-null  object
 20  MiscTechWantToWorkWith         32051 non-null  object
 21  NEWCollabToolsHaveWorkedWith   60393 non-null  object
 22  NEWCollabToolsWantToWorkWith   55173 non-null  object
 23  OpSysProfessional use          58178 non-null  object
 24  OpSysPersonal use              60677 non-null  object
 25  OfficeStackSyncHaveWorkedWith  55783 non-null  object
 26  OfficeStackSyncWantToWorkWith  43974 non-null  object
 27  Blockchain                     60845 non-null  object
 28  Age                            60799 non-null  object
 29  Gender                         60666 non-null  object
 30  MentalHealth                   57113 non-null  object
 31  WorkExp                        61302 non-null  float64
 32  SurveyLength                   60305 non-null  object
 33  SurveyEase                     60343 non-null  object
 34  ConvertedCompYearly            37989 non-null  float64
dtypes: float64(2), object(33)
memory usage: 16.8+ MB

In [ ]:
# Dropping empty Cells from CodingActivities column
data.drop(data[data["CodingActivities"].isnull()==True].index, axis = 0, inplace = True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58636 entries, 1 to 73265
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     58636 non-null  object
 1   CodingActivities               58636 non-null  object
 2   EdLevel                        58584 non-null  object
 3   LearnCode                      58576 non-null  object
 4   LearnCodeCoursesCert           24228 non-null  object
 5   YearsCode                      58405 non-null  object
 6   YearsCodePro                   51332 non-null  object
 7   DevType                        58636 non-null  object
 8   OrgSize                        50659 non-null  object
 9   Country                        58636 non-null  object
 10  CompFreq                       44214 non-null  object
 11  LanguageHaveWorkedWith         58302 non-null  object
 12  LanguageWantToWorkWith         55037 non-null  object
 13  DatabaseHaveWorkedWith         51047 non-null  object
 14  DatabaseWantToWorkWith         43654 non-null  object
 15  PlatformHaveWorkedWith         43299 non-null  object
 16  PlatformWantToWorkWith         35420 non-null  object
 17  WebframeHaveWorkedWith         45053 non-null  object
 18  WebframeWantToWorkWith         39021 non-null  object
 19  MiscTechHaveWorkedWith         37570 non-null  object
 20  MiscTechWantToWorkWith         30921 non-null  object
 21  NEWCollabToolsHaveWorkedWith   57864 non-null  object
 22  NEWCollabToolsWantToWorkWith   52884 non-null  object
 23  OpSysProfessional use          56050 non-null  object
 24  OpSysPersonal use              58063 non-null  object
 25  OfficeStackSyncHaveWorkedWith  53949 non-null  object
 26  OfficeStackSyncWantToWorkWith  42786 non-null  object
 27  Blockchain                     58224 non-null  object
 28  Age                            58158 non-null  object
 29  Gender                         58032 non-null  object
 30  MentalHealth                   54668 non-null  object
 31  WorkExp                        58636 non-null  float64
 32  SurveyLength                   57702 non-null  object
 33  SurveyEase                     57741 non-null  object
 34  ConvertedCompYearly            37965 non-null  float64
dtypes: float64(2), object(33)
memory usage: 16.1+ MB

In [ ]:
data.columns

Index(['Employment', 'CodingActivities', 'EdLevel', 'LearnCode',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'Country', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'Blockchain', 'Age', 'Gender',
       'MentalHealth', 'WorkExp', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly'],
      dtype='object')

In [ ]:
# Dropping empty Cells from CodingActivities column
data.drop(data[data["CodingActivities"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["EdLevel"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["LearnCode"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["LearnCodeCoursesCert"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["YearsCode"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["YearsCodePro"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["OrgSize"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["Country"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["CompFreq"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["LanguageHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["LanguageWantToWorkWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["DatabaseHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["DatabaseWantToWorkWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["PlatformHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["WebframeHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["WebframeWantToWorkWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["MiscTechHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["MiscTechWantToWorkWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["NEWCollabToolsHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["NEWCollabToolsWantToWorkWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["OpSysProfessional use"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["OpSysPersonal use"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["OfficeStackSyncHaveWorkedWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["OfficeStackSyncWantToWorkWith"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["Blockchain"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["Age"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["Gender"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["MentalHealth"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["WorkExp"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["SurveyLength"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["SurveyEase"].isnull()==True].index, axis = 0, inplace = True)
data.drop(data[data["ConvertedCompYearly"].isnull()==True].index, axis = 0, inplace = True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4494 entries, 15 to 73117
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     4494 non-null   object
 1   CodingActivities               4494 non-null   object
 2   EdLevel                        4494 non-null   object
 3   LearnCode                      4494 non-null   object
 4   LearnCodeCoursesCert           4494 non-null   object
 5   YearsCode                      4494 non-null   object
 6   YearsCodePro                   4494 non-null   object
 7   DevType                        4494 non-null   object
 8   OrgSize                        4494 non-null   object
 9   Country                        4494 non-null   object
 10  CompFreq                       4494 non-null   object
 11  LanguageHaveWorkedWith         4494 non-null   object
 12  LanguageWantToWorkWith         4494 non-null   object
 13  DatabaseHaveWorkedWith         4494 non-null   object
 14  DatabaseWantToWorkWith         4494 non-null   object
 15  PlatformHaveWorkedWith         4494 non-null   object
 16  PlatformWantToWorkWith         4322 non-null   object
 17  WebframeHaveWorkedWith         4494 non-null   object
 18  WebframeWantToWorkWith         4494 non-null   object
 19  MiscTechHaveWorkedWith         4494 non-null   object
 20  MiscTechWantToWorkWith         4494 non-null   object
 21  NEWCollabToolsHaveWorkedWith   4494 non-null   object
 22  NEWCollabToolsWantToWorkWith   4494 non-null   object
 23  OpSysProfessional use          4494 non-null   object
 24  OpSysPersonal use              4494 non-null   object
 25  OfficeStackSyncHaveWorkedWith  4494 non-null   object
 26  OfficeStackSyncWantToWorkWith  4494 non-null   object
 27  Blockchain                     4494 non-null   object
 28  Age                            4494 non-null   object
 29  Gender                         4494 non-null   object
 30  MentalHealth                   4494 non-null   object
 31  WorkExp                        4494 non-null   float64
 32  SurveyLength                   4494 non-null   object
 33  SurveyEase                     4494 non-null   object
 34  ConvertedCompYearly            4494 non-null   float64
dtypes: float64(2), object(33)
memory usage: 1.2+ MB

In [ ]:
data

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
15,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy,7,4,"Developer, full-stack",2 to 9 employees,Czech Republic,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",0.0,Appropriate in length,Neither easy nor difficult,19224.0
24,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Coursera;Udemy;Codecademy;edX;Udacity,16,9,"Developer, back-end;Developer, mobile",20 to 99 employees,Germany,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Indifferent,25-34 years old,Man,None of the above,9.0,Appropriate in length,Neither easy nor difficult,90647.0
67,"Employed, full-time",Hobby,Some college/university study without earning ...,"Books / Physical media;School (i.e., Universit...",Coursera;Udemy;edX,17,15,"Developer, back-end;Cloud infrastructure engin...",20 to 99 employees,Uruguay,...,Google Chat;Microsoft Teams;Slack,Google Chat;Slack,Indifferent,35-44 years old,Man,I have an anxiety disorder;I have a concentrat...,15.0,Appropriate in length,Neither easy nor difficult,38808.0
74,"Employed, full-time",Hobby;Contribute to open-source projects,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Pluralsight,24,20,"Developer, back-end;Marketing or sales profess...",500 to 999 employees,United States of America,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Unfavorable,35-44 years old,Man,None of the above,27.0,Appropriate in length,Easy,160000.0
81,"Employed, full-time",Hobby;Bootstrapping a business,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Codecademy;Pluralsight,29,20,"Developer, full-stack;Engineering manager",100 to 499 employees,Uruguay,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,22.0,Appropriate in length,Neither easy nor difficult,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73063,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Pluralsight;Other,5,3,"Developer, back-end",20 to 99 employees,Serbia,...,Google Chat;Microsoft Teams;Zoom,Google Chat;Zoom,Indifferent,35-44 years old,Man,None of the above,0.0,Appropriate in length,Neither easy nor difficult,10896.0
73087,"Employed, full-time;Independent contractor, fr...",Hobby;Freelance/contract work,Some college/university study without earning ...,Books / Physical media;Friend or family member...,Udemy,10,8,"Developer, front-end;Developer, full-stack;Dev...","10,000 or more employees",United States of America,...,Google Chat;Slack;Zoom,Google Chat;Mattermost;Slack;Zoom,Very favorable,35-44 years old,Man,None of the above,10.0,Appropriate in length,Easy,180000.0
73091,"Employed, full-time",Hobby;Bootstrapping a business,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Udemy;edX,5,5,"Engineer, data",500 to 999 employees,Poland,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Indifferent,25-34 years old,Man,"I have learning differences (e.g., Dyslexic, D...",5.0,Appropriate in length,Neither easy nor difficult,66600.0
73097,"Employed, full-time",Bootstrapping a business,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Udemy,10,10,"Developer, mobile;Database administrator","1,000 to 4,999 employees",United Kingdom of Great Britain and Northern I...,...,Google Chat;Microsoft Teams;Wickr,Microsoft Teams,Indifferent,35-44 years old,Man,None of the above,10.0,Appropriate in length,Easy,723684.0
73117,"Employed, full-time",Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Coding Bootcamp,Coursera;Udemy;Pluralsight;Other,5,1,"Developer, full-stack;Data or business analyst","5,000 to 9,999 employees",United States of America,...,Microsoft Teams,Microsoft Teams;Slack,Favorable,25-34 years old,Man,I have a concentration and/or memory disorder ...,9.0,Appropriate in length,Neither easy nor difficult,70000.0

In [1]:
data.to_csv('/content/drive/MyDrive/ML/Project/KnnSOFData18Feb2k23 v2.csv')

NameError: ignored

In [4]:
data = pd.read_csv('/content/drive/MyDrive/ML/Project/KnnSOFData18Feb2k23 v2.csv')
data.drop(['Unnamed: 0'],axis = 1, inplace = True)

In [ ]:
data

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,"Employed, full-time",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Codecademy,7,4,"Developer, full-stack",2 to 9 employees,Czech Republic,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Unfavorable,25-34 years old,Man,"I have a mood or emotional disorder (e.g., dep...",0.0,Appropriate in length,Neither easy nor difficult,19224.0
1,"Employed, full-time",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Coursera;Udemy;Codecademy;edX;Udacity,16,9,"Developer, back-end;Developer, mobile",20 to 99 employees,Germany,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Indifferent,25-34 years old,Man,None of the above,9.0,Appropriate in length,Neither easy nor difficult,90647.0
2,"Employed, full-time",Hobby,Some college/university study without earning ...,"Books / Physical media;School (i.e., Universit...",Coursera;Udemy;edX,17,15,"Developer, back-end;Cloud infrastructure engin...",20 to 99 employees,Uruguay,...,Google Chat;Microsoft Teams;Slack,Google Chat;Slack,Indifferent,35-44 years old,Man,I have an anxiety disorder;I have a concentrat...,15.0,Appropriate in length,Neither easy nor difficult,38808.0
3,"Employed, full-time",Hobby;Contribute to open-source projects,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Pluralsight,24,20,"Developer, back-end;Marketing or sales profess...",500 to 999 employees,United States of America,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Unfavorable,35-44 years old,Man,None of the above,27.0,Appropriate in length,Easy,160000.0
4,"Employed, full-time",Hobby;Bootstrapping a business,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Codecademy;Pluralsight,29,20,"Developer, full-stack;Engineering manager",100 to 499 employees,Uruguay,...,Slack;Zoom,Slack;Zoom,Very unfavorable,35-44 years old,Man,None of the above,22.0,Appropriate in length,Neither easy nor difficult,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4489,"Employed, full-time",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Udemy;Pluralsight;Other,5,3,"Developer, back-end",20 to 99 employees,Serbia,...,Google Chat;Microsoft Teams;Zoom,Google Chat;Zoom,Indifferent,35-44 years old,Man,None of the above,0.0,Appropriate in length,Neither easy nor difficult,10896.0
4490,"Employed, full-time;Independent contractor, fr...",Hobby;Freelance/contract work,Some college/university study without earning ...,Books / Physical media;Friend or family member...,Udemy,10,8,"Developer, front-end;Developer, full-stack;Dev...","10,000 or more employees",United States of America,...,Google Chat;Slack;Zoom,Google Chat;Mattermost;Slack;Zoom,Very favorable,35-44 years old,Man,None of the above,10.0,Appropriate in length,Easy,180000.0
4491,"Employed, full-time",Hobby;Bootstrapping a business,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Udemy;edX,5,5,"Engineer, data",500 to 999 employees,Poland,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Indifferent,25-34 years old,Man,"I have learning differences (e.g., Dyslexic, D...",5.0,Appropriate in length,Neither easy nor difficult,66600.0
4492,"Employed, full-time",Bootstrapping a business,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Udemy,10,10,"Developer, mobile;Database administrator","1,000 to 4,999 employees",United Kingdom of Great Britain and Northern I...,...,Google Chat;Microsoft Teams;Wickr,Microsoft Teams,Indifferent,35-44 years old,Man,None of the above,10.0,Appropriate in length,Easy,723684.0
4493,"Employed, full-time",Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Coding Bootcamp,Coursera;Udemy;Pluralsight;Other,5,1,"Developer, full-stack;Data or business analyst","5,000 to 9,999 employees",United States of America,...,Microsoft Teams,Microsoft Teams;Slack,Favorable,25-34 years old,Man,I have a concentration and/or memory disorder ...,9.0,Appropriate in length,Neither easy nor difficult,70000.0

In [5]:
data.describe()

           WorkExp  ConvertedCompYearly
count  4494.000000         4.494000e+03
mean      7.920561         1.507229e+05
std       8.271337         7.622631e+05
min       0.000000         1.000000e+00
25%       2.000000         2.687100e+04
50%       5.000000         5.758800e+04
75%      11.000000         1.032260e+05
max      50.000000         3.250000e+07

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4494 entries, 0 to 4493
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employment                     4494 non-null   object
 1   CodingActivities               4494 non-null   object
 2   EdLevel                        4494 non-null   object
 3   LearnCode                      4494 non-null   object
 4   LearnCodeCoursesCert           4494 non-null   object
 5   YearsCode                      4494 non-null   object
 6   YearsCodePro                   4494 non-null   object
 7   DevType                        4494 non-null   object
 8   OrgSize                        4494 non-null   object
 9   Country                        4494 non-null   object
 10  CompFreq                       4494 non-null   object
 11  LanguageHaveWorkedWith         4494 non-null   object
 12  LanguageWantToWorkWith         4494 non-null   object
 13  DatabaseHaveWorkedWith         4494 non-null   object
 14  DatabaseWantToWorkWith         4494 non-null   object
 15  PlatformHaveWorkedWith         4494 non-null   object
 16  PlatformWantToWorkWith         4322 non-null   object
 17  WebframeHaveWorkedWith         4494 non-null   object
 18  WebframeWantToWorkWith         4494 non-null   object
 19  MiscTechHaveWorkedWith         4494 non-null   object
 20  MiscTechWantToWorkWith         4494 non-null   object
 21  NEWCollabToolsHaveWorkedWith   4494 non-null   object
 22  NEWCollabToolsWantToWorkWith   4494 non-null   object
 23  OpSysProfessional use          4494 non-null   object
 24  OpSysPersonal use              4494 non-null   object
 25  OfficeStackSyncHaveWorkedWith  4494 non-null   object
 26  OfficeStackSyncWantToWorkWith  4494 non-null   object
 27  Blockchain                     4494 non-null   object
 28  Age                            4494 non-null   object
 29  Gender                         4494 non-null   object
 30  MentalHealth                   4494 non-null   object
 31  WorkExp                        4494 non-null   float64
 32  SurveyLength                   4494 non-null   object
 33  SurveyEase                     4494 non-null   object
 34  ConvertedCompYearly            4494 non-null   float64
dtypes: float64(2), object(33)
memory usage: 1.2+ MB

In [7]:
data.loc[data['Gender']=='Non-binary, genderqueer, or gender non-conforming', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Woman;Non-binary, genderqueer, or gender non-conforming', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Or, in your own words:', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Man;Or, in your own words:', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Man;Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Man;Or, in your own words:;Non-binary, genderqueer, or gender non-conforming', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Prefer not to say', 'Gender'] = 'Genderqueer'
data.loc[data['Gender']=='Man;Non-binary, genderqueer, or gender non-conforming', 'Gender'] = 'Genderqueer'

In [8]:
data['Gender'].value_counts()

Man            4265
Woman           150
Genderqueer      79
Name: Gender, dtype: int64

Label Encoding on following columns = ['EdLevel', 'YearsCode', 'Age', 'Gender', 'WorkExp']

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder()

In [11]:
d = {}
for j in data[['EdLevel','YearsCode','Age','Gender','WorkExp']]:
    data[j] = le.fit_transform(data[j])
    d[j] = le.classes_

In [12]:
# Variable d stores labelled data which is converted into numeric using LabelEncoding
d

{'EdLevel': array(['Associate degree (A.A., A.S., etc.)',
        'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
        'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
        'Other doctoral degree (Ph.D., Ed.D., etc.)',
        'Primary/elementary school', 'Professional degree (JD, MD, etc.)',
        'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
        'Some college/university study without earning a degree',
        'Something else'], dtype=object),
 'YearsCode': array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
        '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
        '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39',
        '4', '40', '41', '42', '43', '44', '45', '46', '48', '5', '50',
        '6', '7', '8', '9', 'Less than 1 year', 'More than 50 years'],
       dtype=object),
 'Age': array(['18-24 years old', '25-34 years old', '35-44 years old',
        '45-54 years old', '55-64 years old', '65 years or older',
        'Prefer not to say', 'Under 18 years old'], dtype=object),
 'Gender': array(['Genderqueer', 'Man', 'Woman'], dtype=object),
 'WorkExp': array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
        26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
        39., 40., 41., 42., 43., 44., 45., 46., 50.])}

In [15]:
d1 = {}
for j in data[['EdLevel','YearsCode','Age','Gender','WorkExp']]:
    data[j] = le.fit_transform(data[j])
    d1[j] = le.classes_

In [16]:
# Converted labelled data into numeric form
d1

{'EdLevel': array([0, 1, 2, 3, 4, 5, 6, 7, 8]),
 'YearsCode': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]),
 'Age': array([0, 1, 2, 3, 4, 5, 6, 7]),
 'Gender': array([0, 1, 2]),
 'WorkExp': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47])}

In [17]:
data[['EdLevel','YearsCode','Age','Gender','WorkExp']] = data[['EdLevel','YearsCode','Age','Gender','WorkExp']].apply(le.fit_transform)

In [18]:
data

,Employment,CodingActivities,EdLevel,LearnCode,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,...,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,Age,Gender,MentalHealth,WorkExp,SurveyLength,SurveyEase,ConvertedCompYearly
0,"Employed, full-time",Hobby,1,Books / Physical media;Other online resources ...,Udemy;Codecademy,45,4,"Developer, full-stack",2 to 9 employees,Czech Republic,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Unfavorable,1,1,"I have a mood or emotional disorder (e.g., dep...",0,Appropriate in length,Neither easy nor difficult,19224.0
1,"Employed, full-time",Hobby,2,Books / Physical media;Other online resources ...,Coursera;Udemy;Codecademy;edX;Udacity,7,9,"Developer, back-end;Developer, mobile",20 to 99 employees,Germany,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Indifferent,1,1,None of the above,9,Appropriate in length,Neither easy nor difficult,90647.0
2,"Employed, full-time",Hobby,7,"Books / Physical media;School (i.e., Universit...",Coursera;Udemy;edX,8,15,"Developer, back-end;Cloud infrastructure engin...",20 to 99 employees,Uruguay,...,Google Chat;Microsoft Teams;Slack,Google Chat;Slack,Indifferent,2,1,I have an anxiety disorder;I have a concentrat...,15,Appropriate in length,Neither easy nor difficult,38808.0
3,"Employed, full-time",Hobby;Contribute to open-source projects,2,Books / Physical media;Friend or family member...,Pluralsight,16,20,"Developer, back-end;Marketing or sales profess...",500 to 999 employees,United States of America,...,Microsoft Teams;Slack;Zoom,Slack;Zoom,Unfavorable,2,1,None of the above,27,Appropriate in length,Easy,160000.0
4,"Employed, full-time",Hobby;Bootstrapping a business,7,Books / Physical media;Other online resources ...,Codecademy;Pluralsight,21,20,"Developer, full-stack;Engineering manager",100 to 499 employees,Uruguay,...,Slack;Zoom,Slack;Zoom,Very unfavorable,2,1,None of the above,22,Appropriate in length,Neither easy nor difficult,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4489,"Employed, full-time",Freelance/contract work,1,Books / Physical media;Other online resources ...,Udemy;Pluralsight;Other,42,3,"Developer, back-end",20 to 99 employees,Serbia,...,Google Chat;Microsoft Teams;Zoom,Google Chat;Zoom,Indifferent,2,1,None of the above,0,Appropriate in length,Neither easy nor difficult,10896.0
4490,"Employed, full-time;Independent contractor, fr...",Hobby;Freelance/contract work,7,Books / Physical media;Friend or family member...,Udemy,1,8,"Developer, front-end;Developer, full-stack;Dev...","10,000 or more employees",United States of America,...,Google Chat;Slack;Zoom,Google Chat;Mattermost;Slack;Zoom,Very favorable,2,1,None of the above,10,Appropriate in length,Easy,180000.0
4491,"Employed, full-time",Hobby;Bootstrapping a business,7,Books / Physical media;Other online resources ...,Udemy;edX,42,5,"Engineer, data",500 to 999 employees,Poland,...,Microsoft Teams;Slack,Microsoft Teams;Slack,Indifferent,1,1,"I have learning differences (e.g., Dyslexic, D...",5,Appropriate in length,Neither easy nor difficult,66600.0
4492,"Employed, full-time",Bootstrapping a business,6,"Other online resources (e.g., videos, blogs, f...",Udemy,1,10,"Developer, mobile;Database administrator","1,000 to 4,999 employees",United Kingdom of Great Britain and Northern I...,...,Google Chat;Microsoft Teams;Wickr,Microsoft Teams,Indifferent,2,1,None of the above,10,Appropriate in length,Easy,723684.0
4493,"Employed, full-time",Hobby;Other (please specify):,1,Online Courses or Certification;Coding Bootcamp,Coursera;Udemy;Pluralsight;Other,42,1,"Developer, full-stack;Data or business analyst","5,000 to 9,999 employees",United States of America,...,Microsoft Teams,Microsoft Teams;Slack,Favorable,1,1,I have a concentration and/or memory disorder ...,9,Appropriate in length,Neither easy nor difficult,70000.0

In [19]:
data.describe()

,EdLevel,YearsCode,Age,Gender,WorkExp,ConvertedCompYearly
count,4494.000000,4494.000000,4494.000000,4494.000000,4494.000000,4.494000e+03
mean,2.331331,22.734090,1.327103,1.015799,7.918558,1.507229e+05
std,2.171772,17.573015,0.918339,0.225208,8.261503,7.622631e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00
25%,1.000000,6.000000,1.000000,1.000000,2.000000,2.687100e+04
50%,1.000000,18.000000,1.000000,1.000000,5.000000,5.758800e+04
75%,2.000000,44.000000,2.000000,1.000000,11.000000,1.032260e+05
max,8.000000,49.000000,7.000000,2.000000,47.000000,3.250000e+07